@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Yanone+Kaffeesatz&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


div.hero-background {
  background-image: url(../images/hero-background.avif);
  background-position: top;
  background-size: cover;
}

.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply from-blue-500 to-indigo-500 bg-gradient-to-r
}

.section-title {
  @apply text-3xl md:text-5xl font-semibold min-w-max text-gray-900
}
.section-pharagraph {
  @apply text-xl lg:text-2xl font-semibold text-gray-800 lg:leading-7
}
.section-pharagraph-small {
  @apply text-lg lg:text-xl font-semibold text-gray-800 lg:leading-7
}

@media (min-width: 2160px) {
  .section-pharagraph {
    @apply text-3xl
  }
  .section-pharagraph-small {
    @apply text-2xl
  }
}
