@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-blue-600 to-teal-700
}
.gradient-bg {
  @apply bg-gradient-to-r from-blue-50 to-teal-50
}


.section-title {
  @apply text-3xl md:text-5xl font-semibold min-w-max text-gray-900
}
.section-pharagraph {
  @apply text-xl lg:text-2xl text-gray-800 lg:leading-7
}
.section-pharagraph-small {
  @apply text-lg lg:text-xl text-gray-800 lg:leading-7
}
.section-pharagraph-small-white {
  @apply text-lg lg:text-xl text-white lg:leading-7
}


.nav-top-padding {
  @apply pt-24 sm:pt-32 md:pt-36 2xl:pt-44
}


.input-field {
  @apply w-full p-2 md:px-4 rounded-lg border-4 outline-none border-gray-200 section-pharagraph-small
}
.input-field.invalid {
  @apply border-red-400
}
